/* latin-ext */
@font-face {
  font-family: "Bigelow Rules";
  font-style: normal;
  font-weight: 400;
  src: local("Bigelow Rules Regular"), local("BigelowRules-Regular"),
    url(./assets/BigelowRules-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Bigelow Rules";
  font-style: normal;
  font-weight: 400;
  src: local("Bigelow Rules Regular"), local("BigelowRules-Regular"),
    url(./assets/BigelowRules.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "icomoon";
  src: url("assets/icomoon/fonts/icomoon.eot?ggd8ik");
  src: url("assets/icomoon/fonts/icomoon.eot?ggd8ik#iefix")
      format("embedded-opentype"),
    url("assets/icomoon/fonts/icomoon.ttf?ggd8ik") format("truetype"),
    url("assets/icomoon/fonts/icomoon.woff?ggd8ik") format("woff"),
    url("assets/icomoon/fonts/icomoon.svg?ggd8ik#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bandsintown:before {
  content: "\e909";
  color: #00cec8;
}
.ctlink.bandsintown:focus,
.ctlink.bandsintown:active,
.ctlink.bandsintown:hover {
  color: #00cec8;
}
.icon-applemusic:before {
  content: "\e906";
}

.icon-discord:before {
  content: "\e900";
  color: #7289da;
}
.ctlink.discord:focus,
.ctlink.discord:active,
.ctlink.discord:hover {
  color: #7289da;
}
.icon-facebook:before {
  content: "\e901";
  color: #3b5998;
}
.icon-googleplay:before {
  content: "\e907";
  color: #607d8b;
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.ctlink.instagram:focus,
.ctlink.instagram:active,
.ctlink.instagram:hover {
  color: #e4405f;
}
.icon-patreon:before {
  content: "\e903";
  color: #f96854;
}
.ctlink.patreon:focus,
.ctlink.patreon:active,
.ctlink.patreon:hover {
  color: #f96854;
}
.icon-spotify:before {
  content: "\e908";
  color: #1ed760;
}
.icon-twitter:before {
  content: "\e904";
  color: #1da1f2;
}
.icon-youtube:before {
  content: "\e905";
  color: #f00;
}
.ctlink.youtube:focus,
.ctlink.youtube:active,
.ctlink.youtube:hover {
  color: #f00;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-bottom: 6rem;
  background: black;
  background-size: cover;
  background-position: center 12em;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100%;
}
body.bg {
  background-image: url(./assets/bg.jpg);
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  color: #fff;
  font-family: sans-serif;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
h1,
h2,
.ctlink {
  font-weight: normal;
  font-family: "Bigelow Rules", fantasy, serif;
}
.links {
  padding: 4.5em 0 0;
  text-align: center;
}
.logo {
  width: 25rem;
  margin: 1rem;
  float: left;
}

.ctlink {
  text-align: center;
  /* display: block; */
  color: white;
  text-decoration: none;
  font-size: 3em;
  text-shadow: 0 0 10px #000;
}

.ctlink:active [class^="icon-"]:before,
.ctlink:active [class*=" icon-"]:before,
.ctlink:focus [class^="icon-"]:before,
.ctlink:focus [class*=" icon-"]:before,
.ctlink:hover [class^="icon-"]:before,
.ctlink:hover [class*=" icon-"]:before {
  color: white;
}

.stores {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.footer {
  position: absolute;
  bottom: 3px;
  right: 10px;
}
a {
  color: #9b7758;
}
.footer,
.footer a {
  color: rgba(255, 255, 255, 0.5);
}
a:hover,
a:focus,
a:active {
  color: #784e49;
}

.stores {
  text-align: center;
}

.stores img {
  height: 2em;
  margin: 1em 0.25em;
}

.listen {
  text-align: center;
}
.listen .stores a {
  display: block;
}
.listen .stores {
  position: relative;
}
.listen .stores img {
  height: auto !important;
  width: 15em;
  margin: 1.5em auto;
  display: block;
}
.listen h1 {
  margin-bottom: 0;
}
.listen h2 {
  margin-top: 0;
}
.listen .logo {
  display: block;
  float: none;
  margin: 1rem auto 0;
}

@media screen and (max-width: 800px) {
  .logo {
    float: none;
    margin: auto;
    width: 20rem;
  }
  body {
    background-size: contain;
    background-position: 0 15em;
  }
  .links {
    padding: 1em 0 0;
  }
  .stores {
    position: relative;
    margin-top: 50px;
  }
}
